@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section styles */

.banner-container {
    margin: 0 auto;
    max-width: 1320px;
    min-height: 600px;
    margin-top: 50px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('images/Banner\ Image.png');
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.banner-content {
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-greetings {
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
}


/* 65% section style starts here */

.offer-section-container {
    max-width: 805px;
    height: 808px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 120px;

}

.offer-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-section-content h1 {
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: 700;

}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section styles */

.banner-container {
    margin: 0 auto;
    max-width: 1320px;
    min-height: 600px;
    margin-top: 50px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('images/Banner\ Image.png');
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.banner-content {
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-greetings {
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
}


/* 65% section style starts here */

.offer-section-container {
    max-width: 805px;
    height: 808px;
    margin: 0 auto;
    margin-top: 120px;
    border: none;
}

.offer-section-content h1 {
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: 700;
}

.offer-section-content p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.offer-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-section-image img {
    margin-top: 48px;
    width: 100%;
    height: 100%;
}

/* third section */
.midnight-section {
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 16px;
    margin-top: 70px;
}

.section-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.section-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.section-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-image img {
    height: 464px;
    width: 350px;
}

.midnight-button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
}

/* parkHotel styles */
.parkHotel {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    border: 2px solid red;
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 70px;
}

.details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details h3 {
    margin: 10px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.details span {
    color: #FF0000;
}


.details button {
    border-radius: 8px;
    background: rgb(255, 0, 0);
    margin-top: 54px;
    width: 167px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

/* holiday styles */

.holiday-container {
    width: 1320px;
    height: 986.07px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.holiday-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1068px;
    height: 260px;
}

.holiday-text-container h5 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-text-container span {
    color: #FF0000;
}

.holiday-text-container h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-text-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.solid-color {
    width: 1320px;
    height: 229px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 77%;
}

.giftbox {
    width: 796.46px;
    height: 662.07px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

}

.girl-container {
    width: 330px;
    height: 733px;
    position: relative;
    /* left: 27%;
    top: 11%; */
}

.girl-container img {}


/* portfolio styles */

.portfolio-container {
    width: 1320px;
    height: 1163px;
    /* border: 2px solid rebeccapurple; */
    margin: 0 auto;
    margin-top: 120px;
}

.portfolio-text-content h5 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-text-content h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin: 16px 0 22px 0;
}

.portfolio-text-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.portfolio-items {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item {
    width: 424px;
    height: 450px;
}

.item img {
    height: 100%;
    width: 100%;

}


/* footer styles */
.footer-container {
    width: 1920px;
    height: 500px;
    /* border: 2px solid red */
    background: rgb(7, 2, 17);
    padding: 50px;
}

.footer-details {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.contact {
    display: flex;
}

.hr {
    width: 1251px;
    margin: 0 auto;

}

.social-icons {
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}

.copyright {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}

.hr1 {
    margin: 0 auto;
    width: 1251px;
}